.layout{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr 1fr 200px;
    grid-template-areas: 
    "cabecalho cabecalho"
    "menu conteudo"
    "menu dashboard"
    "rodape rodape";

    max-width: 95vw;
    max-height: 100vh;
}