@use'variaveis';
@use'mixins';

.menu{
    
    grid-area: menu ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 40px;
    background-color: variaveis.$corsecundaria;

}

.menu__item{
    padding: 10px;
    @include mixins.bordaArredondada;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s ease, transform 0.2s ease;

        &:hover{
            background-color: variaveis.$corprincipal;
            color: black;
        }
}

.menu__icon{
    padding-right: 10px;
}